html {
  height: 100%;
}
body {
  background: linear-gradient(0deg, #d6a635, white, #d6a635);
}
table {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  background: white;
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}
th, td {
  padding: 0.5em;
}
tr > td:last-of-type {
  text-align: right;
}
